@model Mailr.Extensions.Gunter.Models.Alerts.TestResult
@addTagHelper *, Mailr.Extensions
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>

    <style>
    </style>

</head>
<body>

    @foreach (var module in Model.Body.Modules.OrderBy(x => x.Ordinal))
    {
        <partial name="/src/Views/Alerts/Modules/@(module.Name).cshtml" for="@module" />
    }

    <hr />

    <partial name="/src/Views/Shared/Footer.cshtml" for="@Model.Footer" />

</body>
</html>