@model Mailr.Extensions.Gunter.Models.v1.Alerts.TestResultBody
@addTagHelper *, Mailr

<html>
<head>

    <style>
        
        
    </style>

</head>
<body>

@foreach (var module in Model.Modules.OrderBy(x => x.Value.Ordinal))
{
    Html.RenderPartial($"~/src/Views/v1/Alerts/Modules/{module.Key}.cshtml", module.Value);
}

<hr/>

@{
    Html.RenderPartial("Footer");
    //Html.RenderPartial("~/src/Views/Shared/Footer.cshtml");
}
</body>
</html>