@using Mailr.Extensions.Models
@using Mailr.Extensions.Gunter.Models.Reports
@model Mailr.Extensions.Gunter.Models.Reports.TableDto


<table class="table">
    <tbody>
        @foreach (var row in Model.Data?.Body ?? HtmlTableRowGroup.Empty)
        {
            //var value = row[1].Value;
            //if (row[1].Styles?.Contains("query") == true)
            //{
            //}
            <tr>
                <th class="cell table-header">@row[0].Value</th>
                <td class="cell">@row[1].Value?.ToString().Trim()</td>
            </tr>
        }
    </tbody>
</table>
