@using Mailr.Extensions.Gunter.Models.RunTest
@model Mailr.Extensions.Gunter.Models.RunTest.DataSource

<h4 class="m-heading">@Model.Heading</h4>
<table class="m-table">
    <tbody>
        @foreach (var row in Model.Table.Body ?? Enumerable.Empty<IList<object>>().ToList())
        {
            <tr>
                <th class="m-cell m-table-header">@row[0]</th>
                <td class="m-cell">@row[1]</td>
            </tr>
        }
    </tbody>
</table>
